<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.redis.mapper.RedisSlowLogMapper">

    <insert id="add" parameterType="com.zx.redis.model.RedisSlowLog">
        insert into redis_slow_log(
          log_id,
          create_time,
          excute_time,
          command
        )
        values (
          #{logId},
          #{createTime},
          #{excuteTime},
          #{command}
        )
    </insert>
</mapper>